.dropdown-edit {
  width: 200px;
  height: 55px;
  border-radius: 6.5px;
}

.MuiPopover-paper,
.MuiMenu-paper {
  max-height: unset !important;
}

.dropdown-container {
  position: relative;
  // text-align: center;
}

.centered-placeholder-dropdown {
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translate(-40%, -50%);
  font-size: 18px;
}

.select-dropdown {
  height: 50px;
  width: 200px;
}
