.frame {
  width: 1000px;
  height: 1000px;
}
.frame-edit {
  background: url("./pdfsheet-1.jpg") repeat;
}
.MuiOutlinedInput-input {
  padding: 10px 0 10px 10px !important;
}

.form-container {
  width: 15%;
}
