.frame-container {
  .frame {
    position: absolute;
    top: 40px;
    left: 305px;
    margin-top: 80px;
    width: 913px;
    height: 1010px;
    .activeElement {
      padding: 2px;
      border-radius: 5px !important;
      margin: -4px;
      border: 2px dotted #111010;
      transition: box-shadow 0.2s !important;
    }
  }

  $primary: #464646;

  #generate {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius: 40px;
    background: #fff;
    border: 2px solid $primary;
    color: $primary;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
    &:hover {
      color: white;
      background: $primary;
    }
    &:active {
      letter-spacing: 2px;
    }
  }
  .frame-edit {
    background: url("./square.png") repeat;
  }
}

.MuiOutlinedInput-input {
  padding: 10px 0 10px 10px !important;
}

.cursor-pen {
  z-index: 450;
  cursor: url(./image.png), default;
}

.form-container {
  width: 15%;
}
