.translucent {
  width: 150px;
  position: absolute;
  display: block;
  line-height: 50px;
  border-radius: 20px;
  overflow: hidden;
  color: rgba(0, 0, 0, 0) 0;
  text-decoration: none;
  font-size: 30px;
}

svg.button {
  width: 150px;
  height: 40px;
}

.material-button {
  border-radius: 20px !important;
  font-family: unset;
  width: 150px;
  font-size: 22px !important;
  text-transform: unset !important;
  height: 40px;
  background: rgba(245, 245, 245, 1) !important;
}

.translucent div {
  background: rgba(245, 245, 245, 1);
  text-align: center;
  display: block;
  visibility: visible;
}
