.translucent {
  width: 150px;
  position: absolute;
  display: block;
  line-height: 50px;
  border-radius: 20px;
  overflow: hidden;
  color: rgba(0, 0, 0, 0) 0;
  text-decoration: none;
  font-size: 30px;
}

svg.button {
  height: 150px;
  width: 150px;
}

.translucent div {
  background: rgba(245, 245, 245, 1);
  text-align: center;
  position: relative;
  display: block;
  visibility: visible;
}
