i,
svg {
  cursor: pointer;
}
.icons {
  display: grid;
  grid-template-columns: 90px 90px;
  row-gap: 20px;
  column-gap: 20px;
}

.options {
  width: 250px !important;
  height: 600px !important;
  border-radius: 30px !important;
}

.rotate-45 {
  display: inline-block;
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}
