.wrapper {
  position: relative;
  overflow-x: visible;
}

.app-content {
  width: 1500px;
  height: auto;
}

.logo {
  position: absolute;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 600px !important;
}

.logo-text {
  white-space: nowrap;
  position: absolute;
  cursor: pointer;
  font-weight: 600;
  top: 50px;
  left: 695px;
}
