.wrapper {
  position: relative;
  overflow-x: visible;
}

.app-content {
  width: 1500px;
  height: auto;
}

.logo {
  margin-top: 10px;
  position: absolute;
  cursor: pointer;
  margin-left: 600px !important;
}

*:focus {
  outline: none !important;
}

.logo-text {
  white-space: nowrap;
  position: absolute;
  cursor: pointer;
  font-weight: 600;
  top: 50px;
  left: 695px;
}

.cursor-pen {
  z-index: 450;
  cursor: url(./components/Frame/image.png), default;
}
