body {
  background-color: #ffffff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  zoom: 1;

  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.containment-wrapper .draggable-pointer {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  float: left;
  clear: both;
}
.containment-wrapper .draggable-pointer:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  float: left;
  clear: both;
}

* {
  box-sizing: border-box;
}

.resizable {
  width: auto;
  height: auto;
}
.resizable h3 {
  text-align: center;
  margin: 0;
}

svg#preloader {
  position: absolute;
  width: 200px;
  height: 80px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

#plug,
#socket {
  fill: #2196f3;
}

#loop-normal {
  fill: none;
  stroke: #455a64;
  stroke-width: 12;
}
#loop-offset {
  display: none;
}
