.Canvas {
  font-family: sans-serif;
  position: absolute;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 12px; /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

.canvas-container {
  top: 0px;
  left: -16px;
  overflow: hidden;
  position: absolute;
  margin-left: 1rem;
}

.css-1munbi2 {
  height: 100px;
}
.icon-container {
  padding: 6px;
}

.tools-container {
  position: absolute;
  top: 10px;
  left: 940px;
  .picker {
    margin-left: 55px;
    margin-top: 30px;
  }
}

.slider-container {
  margin: 40px 0 10px 40px;
  display: flex;
  .undo-icon {
    position: absolute;
    top: 63px;
    left: 40px;
  }
}
